.x-tab .x-button-icon.task, .x-button .x-button-icon.x-icon-mask.task {
background: url('../images/tab-tasks.png');
}
.x-tab .x-button-icon.character, .x-button .x-button-icon.x-icon-mask.character {
background: url('../images/tab-character.png');
}
.x-tab .x-button-icon.icongen, .x-button .x-button-icon.x-icon-mask.icongen {
background: url('../images/tab-character.png');
}
.x-scroll-scroller{
	background-color: #fff;
}